{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Mascotas
{% endblock titulo %}

{% block contenido %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Animal</th>
            <th>Raza</th>
            <th>Nombre</th>
            <th>Numero Contacto</th>
        </tr>
    </thead>
    <tbody>
    {% for animal in animales %}
    <tr>
        <td>{{ animal.id }}</td>
        <td>{{ animal.animal }}</td>
        <td>{{ animal.raza }}</td>
        <td>{{ animal.nombre }}</td>
        <td>{{ animal.numeroContacto }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    


