{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    Dueños
{% endblock titulo %}

{% block contenido %}
<h3>Lista de Dueños</h3>

<table>
    <tr>
        <td width="200"></td>
        <td>
            <a href="{% url 'createDueño' %}"
               class="btn btn-primary btn-sm"
               ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Mascota</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for dueño in dueños %}
    <tr>
        <td>{{ dueño.id }}</td>
        <td>{{ dueño.nombre }}</td>
        <td>{{ dueño.apellido }}</td>
        <td>{{ dueño.nombre }}</td>
        <td>{{ dueño.direccion }}</td>
        <td>{{ dueño.telefono }}</td>
        <td>{{ dueño.email }}</td>
        <td>{{ dueño.mascota }}</td>
        <td>
           <a href="{% url 'updateDueño' dueño.id %}"
            class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
         </a>
         <a href="{% url 'deleteDueño' dueño.id %}"
            class="btn btn-danger"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
         </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    
